.balance {
  background-color: rgb(78, 65, 240);
  border-radius: 8px;
  height: 150px;
  margin: 10px 0;
  overflow: hidden;
  padding: 20px 30px;
  width: 32%;
}

.balance img {
  height: 150px;
  opacity: 0.3;
  z-index: 0;
}
