.balance { 
  background-color: rgb(78, 65, 240);
  width: 32%;
  height: 150px;
  margin: 10px 0px;
  border-radius: 8px;
  padding: 20px 30px;
  overflow: hidden;
}

.balance img {
  z-index: 0;
  opacity: 0.3;
  height: 150px;
}